@media screen and(max-width:1400px){

  nav{
    width: 80vw;
  }
  
}

@media screen and (max-width:1200px) {
  .toggle-button{
    display: flex;

  }

  .nav-links ul{
    position: absolute;
    top: 7rem;
    right: 2.5rem;
    display: none;
flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
    gap: .1rem;

  }


  .nav-links.active ul{
    display: flex;
  }
    


  .toggle-button.active span:first-child{
    transform: rotate(45deg) translate(10px,7px);
}


.toggle-button.active span:nth-child(2){
   opacity: 0;
}


.toggle-button.active span:last-child{
    transform: rotate(-45deg) translate(7px,-6px);
}

}

@media screen and (max-width:600px) {

  nav{
    margin-top: -1.8rem;
  }

  /*profile*/

  #profile {
      display: block;
         
  }

  .pic-container{
    display: flex;
    justify-content: center;
    height: 275px;
    width: 275px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 2.5rem;
   margin-bottom: 2rem;
    
  }
  #p1{
    font-size: 1rem;
  }

  #p2{
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .title{
font-size: 1.5rem;
white-space: nowrap;
  }

  .btn1,.btn2 {
    width: 7rem;
    padding: .75rem;
    font-size: .8rem;
    border-radius: 20px;
    margin: .5rem;
    
  }

 
/*about*/

  #about{
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5rem;
  }

  .about-p{
    text-align: center;
    font-size: .8rem;
    white-space: nowrap;
  }


  .section-container{
    display: block;
  }

  .about-details{
    display: block;
  }



  .experiences{
    display: block;
    

  }

  .about-experience, .about-education{
    margin-right: auto;
    margin-left: auto;
    width: 70vw;
  }

  

  .about-text{
    text-align: left;
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
  }



  #experience{
    margin-top: 1rem;
  }


  .about-pic-container{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
   margin-left: auto;
   margin-right: auto;
    border-radius:10rem;
    
  
  }


/*Experiences*/

.experience-p{
  text-align: center;
  font-size: 1rem;
  white-space: nowrap;
}


.experience-container{
  flex-direction: column;
}


/*projects*/


.projects-p{
  text-align: center;
  font-size: 1rem;
  white-space: nowrap;
}

.projects-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
 
}

.project-image{
  display: flex;
  justify-content: center;
  height: 300px;
  width: 300px;
  margin: auto 0;
 
}















}
